
.tnt-logo{
  width: 65px;
  height: 65px;
  background: image-url('tntcrate.png') no-repeat;
  background-size: contain;
  float: left;
}

.sign-up-heading{
  text-align: center;
}

.field {
  width: 500px;
  margin: 0 auto 0 auto;
}

.actions {
  width: 100px;
  margin: 0 auto 0 auto;
}
